.details {
    .information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px 0px;

            .content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                line-height: 0px;

                .spacer20{
                    height: 20px;
                }
            }
        }
    }
}