.gifts{
    .title {
        margin: -20px 0px;
        display: flex;
        justify-content: center;
        color: #5f7462;
        font-size: 2em;
        font-family: fancy, cursive;
    }

    .information{
        padding: 5%;
    }
}
